.h5p-mini-course-unit-panel {
  padding: 1em;
  position: relative;
  display: inline-block;
  height: auto;
  box-sizing: border-box;
}/*
.h5p-mini-course-unit-panel-inner:after {
  font-family: H5PFontIcons;

  font-size: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  height: 1em;
  width: 1em;
  vertical-align: baseline;
  line-height: 1;
}*/
.h5p-mini-course-unit-panel-inner {
  padding: 1em;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  transition: all 0.8s;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.enabled .h5p-mini-course-unit-panel-inner {
  background: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.25);
}
.h5p-mini-course-unit-header {
  font-size: 130%;
}
.h5p-mini-course-unit-intro {
  margin-bottom: 2.5em;
}
button.h5p-mini-course-unit-begin,
button.h5p-mini-course-unit-begin:active {
  font-size: 100%;
  color: #fff;
  background-color: #dd0099;
  width: 100%;
  margin:0 !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
  border: none;
  border-top: 1px solid #ddd;
  transition: all .5s;
}
button.h5p-mini-course-unit-begin:focus {
  outline-style: dashed;
  outline-width: 1px;
  outline-offset: 1px;
}
button.h5p-mini-course-unit-begin:hover {
  border-radius: 0;
  -webkit-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;

}
.locked button.h5p-mini-course-unit-begin {
  background-color: #eee;
  color: #ccc;
}
.locked button.h5p-mini-course-unit-begin:before {
  font-family: 'H5PFontAwesome4';
  content: "\f023";
  padding-right: 0.5em;
}
.done button.h5p-mini-course-unit-begin {
  border-color: #999;
  background-color: #eee;
  color: #999;
}
.done button.h5p-mini-course-unit-begin:before {
  font-family: 'H5PFontAwesome4';
  content: "\f023";
  padding-right: 0.5em;
}

.done button.h5p-mini-course-unit-begin {
  display: none;
}
.h5p-mini-course-unit-popup-bg {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0);
  transition: all 1s;
}
.h5p-mini-course-unit-popup-bg.visible {
  background: rgba(0,0,0,0.9);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.h5p-mini-course-unit-popup {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  top: -100%;
  /*-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);*/
  transform: perspective(1px) translate3d( 0, 0, 0) translateY(-50%);
  max-width: 700px;
  min-height: 250px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 0 30px rgba(0,0,0,0.08);
  background-color: #fff;
  border-radius: 0.5em 0 0.5em 0;
  overflow: hidden;
  transition: top 0.5s;
}
.h5p-mini-course-unit-popup.visible {
  top: 50%;
}
.h5p-mini-course-unit-popup  .header {
  font-size: 120%;
  background: #dbdbdb;
  padding: 1em 1.7em;
}
.h5p-mini-course-unit-popup a.quit-lesson {
  position: absolute;
  right: 2em;
  color: #555;
}
.h5p-mini-course-unit-popup a.quit-lesson:hover {
  background-color: inherit;
  color: inherit;
  text-decoration: underline;
}
.h5p-sub-content {
  padding: 2em;
  box-sizing: border-box;
  height: auto;
}
